<header>
  <h1>YaaConnections</h1>
  <p><h3>Interactive Connection Explore</h3></p>
  <p>YaaC Members - red dots <br/>
  Connections - green dots</p>    <!-- Embed Connection Map -->
  <div class="map">
    <iframe src="%%mapUrl%%" scrolling="no" frameborder="no" height="400px"></iframe>
  </div>
</header>

<section>
  <!-- Embed Submit new Connection Google Form -->
  <div class="form">
    <iframe src="%%formUrl%%" height="550px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</section>

<footer>
</footer>
